!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AdminPanel
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i", :rel => "stylesheet"}/
    %body#page-top
      #wrapper
      #content-wrapper.d-flex.flex-column
        #content
          .container-fluid
            .card.shadow.mb-4.mt-4
              .card-header.py-3
                .row
                  .col-lg-10
                    %h3.text.m-0.font-weight-bold.text-info Select Seats
                  .col-lg-2
                    = link_to shows_path(date: @show.date), {class: 'btn btn-danger btn-circle float-right'} do
                      %i.fa.fa-close{title: "Cancel"}

              .card-body
                .row
                  .col-1.mb-3
                  .col-5.mb-3
                    .btn.btn-warning.btn-block SCREEN
                .row
                  .col-8
                    .row
                      - @seats.each do |seat|
                        .col-1.mb-1.ml-2
                          .card.seat{class: "#{seat.type} #{seat.seat_style(params[:show_id])}", id: "#{seat.id}"}
                            .card-body.seat-body
                              .row.no-gutters.align-items-center
                                .col.mr-2
                                  .text-md.mb-0.font-weight-bold.text-secondary=seat.code
                                  .text-xs.mb-1.text-primary="₹#{Seat::COSTS.as_json[seat.type]}"
                  .col-4
                    .row
                      %h1.h4.text-gray-900.mb-4 Booking Details:
                    .row
                      .col-4
                        .text.font-weight-bold.text-warning.mb-1 Movie:
                      .col-6
                        .text.font-weight-bold.text-info.mb-1= @show.movie.name
                    .row.mt-2
                      .col-4
                        .text.font-weight-bold.text-warning.mb-1 Time:
                      .col-6
                        .text.font-weight-bold.text-info.mb-1= Show::TIMINGS.as_json[@show.time_slot]

                    .row.mt-2
                      .col-4
                        .text.font-weight-bold.text-warning.mb-1 Seats:
                      .col-6
                        .text.font-weight-bold.text-info.mb-1#seatCount

                    .row.mt-2
                      .col-4
                        .text.font-weight-bold.text-warning.mb-1 Cost:
                      .col-6
                        .text.font-weight-bold.text-info.mb-1#totalCost

                    .row.mt-5
                      .col-1.mb-3
                      .col-8.mb-3
                        %button#confirmButton{class: 'btn btn-success btn-lg btn-block disabled'} Confirm Booking
                        #modal-window.modal.hide.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "myModalLabel", :role => "dialog"}
                          .modal-dialog{:role => "document"}
                            = render partial: 'summary'

                    .row.mt-5
                      .col-1#totalCost
                        .green-box
                      .col-6
                        .text.font-weight-bold.text-info.mb-1 Selected
                    .row.mt-2
                      .col-1
                        .grey-box
                      .col-6
                        .text.font-weight-bold.text-info.mb-1 Available
                    .row.mt-2
                      .col-1
                        .red-box
                      .col-6
                        .text.font-weight-bold.text-info.mb-1 Sold

:javascript
  selectedSeatIDs = []
  selectedSeatCodes = ""
  $(".seat").on('click', function(event){
    if (this.classList.contains("sold")) {
      return;
    }
    if (this.classList.contains("selected")) {
      this.classList.remove("selected");
      index = selectedSeatIDs.indexOf(this.id);
      selectedSeatIDs.splice(index, 1)
      $("#seatCount")[0].innerText = Number($("#seatCount")[0].innerText) - 1;
      reduceCost(this);
    } else {
      this.classList.add("selected");
      selectedSeatIDs.push(this.id);
      $("#seatCount")[0].innerText = Number($("#seatCount")[0].innerText) + 1;
      addCost(this);
    }
    checkAndActivateConfirmButton();
  });

  $("#confirmButton").on('click', function(event){
    if(selectedSeatIDs.length == 0){
      return
    }
    showID = #{params[:show_id]}
    $.ajax({
      url: "/shows/" + showID + "/bookings",
      type: "POST",
      datatype: "json",
      data: {seat_ids: selectedSeatIDs},
      success:function(data){
        selectedSeatCodes = data.data.seat_codes;
        $('#modal-window').modal('show');
      }
    })
  })

  function addCost(seat) {
    costElement = $("#totalCost")[0]
    classList = seat.classList
    if (classList.contains("silver")){
      costElement.innerText = Number(costElement.innerText) + 150;
    } else if (classList.contains("gold")){
      costElement.innerText = Number(costElement.innerText) + 200;
    } else if (classList.contains("platinum")){
      costElement.innerText = Number(costElement.innerText) + 300;
    }
  }

  function reduceCost(seat) {
    costElement = $("#totalCost")[0]
    classList = seat.classList
    if (classList.contains("silver")){
      costElement.innerText = Number(costElement.innerText) - 150;
    } else if (classList.contains("gold")){
      costElement.innerText = Number(costElement.innerText) - 200;
    } else if (classList.contains("platinum")){
      costElement.innerText = Number(costElement.innerText) - 300;
    }
  }

  function checkAndActivateConfirmButton() {
    confirmButton = $("#confirmButton")[0];
    if($(".selected").length == 0) {
      confirmButton.classList.add("disabled");
    } else {
      confirmButton.classList.remove("disabled");
    }
  }

  $('#modal-window').on('show.bs.modal', function(e) {
    totalCost = $("#totalCost")[0].innerText
    $(e.currentTarget).find('#totalCost2')[0].innerText = totalCost
    $(e.currentTarget).find('#selectedSeatCodes')[0].innerText = selectedSeatCodes
    console.log($(e.currentTarget).find('#totalCost2')[0].innerText)
    console.log($(e.currentTarget).find('#selectedSeatCodes')[0].innerText)
  });
