!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Login
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i", :rel => "stylesheet"}/
  %body.bg-gradient-primary
    .container
      / Outer Row
      .row.justify-content-center
        .col-xl-10.col-lg-12.col-md-9
          .card.o-hidden.border-0.shadow-lg.my-5
            .card-body.p-0
              / Nested Row within Card Body
              .row
                .col-lg-6.d-none.d-lg-block.bg-login-image
                .col-lg-6
                  = link_to root_path, {class: 'btn btn-warning btn-circle float-right'} do
                    %i.fa.fa-home{title: "Home"}
                  .p-5
                    .text-center
                      %h1.h4.text-gray-900.mb-4 Welcome to Book My Movie!
                      %h2 Log in
                      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                        %br/
                        %br/
                        %br/
                        %br/
                        .form-group.mb-4
                          = f.text_field :email, label: false, placeholder: "User Name", required: true, autofocus: true, class: "form-control"
                        .form-group.mb-4
                          = f.password_field :password, label: false, placeholder: "Password", required: true, class: "form-control"
                        .d-flex.justify-content-between.actions.btn.btn-submit
                          - if devise_mapping.rememberable?
                            .field
                              = f.check_box :remember_me
                              = f.label :remember_me
                        = f.submit "Log in", class: 'btn btn-login px-4 btn-sm btn-primary'
                        %hr
                        = link_to 'New Admin User? Click here', new_user_registration_path,  {class: 'small'}
